<div class="center hero-unit">
	<h1>Originate China HR Tracker</h1>
	<p>Welcome to the Originate China HR Tracker. This app isn't available for public use yet, but if you are ineterested in it please email start@orginatechina.com and we'll make sure to sign you up for the beta.</p>
	<%= link_to "Sign in now!", '#', class: "btn btn-large btn-primary" %>
	<%= link_to "Sign up for beta", '#', class: "btn btn-large"%>
</div>
	