<div class="center hero-unit">
	<h1>Originate China HR Tracker</h1>
	<p>Welcome to the Originate China HR Tracker. This app isn't available for public use yet, but if you are interested in it please email start@orginatechina.com and we'll make sure to sign you up for the beta.</p>
	<%= link_to "Sign in now!", '#', class: "btn btn-large btn-primary" %>
	<div id="beta-link"><%= mail_to "sameer@originatechina.com", "Sign up for the beta", subject: "Request to sign up for the OC HR Tracker beta" %></div>
</div>
	